@font-face
  font-family: 'SegoeUIRegular'
  src: url('@/assets/fonts/SegoeUIRegular.woff2') format('woff2'), url('@/assets/fonts/SegoeUIRegular.woff') format('woff')
  font-weight: normal
  font-display: swap
